/app/amp/config/parameters.yml
/app/config/parameters.yml
/app/public/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
/web/sitemap/
/web/10.10.28.33/
.idea/
/log
/log/*
/app/var/*
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/src/ApipublicaBundle/Resources/config/google/analytics/*
!/src/ApipublicaBundle/Resources/config/google/analytics/.gitkeep
/src/ApipublicaBundle/Resources/config/top-news/*
!/src/ApipublicaBundle/Resources/config/top-news/.gitkeep
/dashboard/*
purge.sh
/web/robots.txt
web/.htaccess
token_youtube.txt
/youtubecache/*
/vimeocache/*
.DS_Store
